openapi: 3.0.0
info:
  title: API Protheus Macroex
  description: API Protheus Macroex
  version: 1.0.0
  termsOfService: http://example.com/terms/
  contact:
    name: Érico Amorim Pedrosa
    url: http://www.example.com/support
    email: erico.pedrosa@totvs.com.br
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
servers:
  - url: "https://webhook.app.hubhero.com.br/webhook/"
    description: Development server
  # - url: 'https://api.example.com'
  # description: Production server
tags:
  - name: Fornecedor
  - name: Transportadora
  - name: Cliente
  - name: GrupoDeProdutos
  - name: Produtos

paths:
  /api/v1/fornecedor:
    post:
      tags:
        - Fornecedor
      summary: EndPoint para criar um fornecedor
      # description: |
      # EndPoint de Fornecedor.
      operationId: createFornecedor
      requestBody:
        # description: The user's name to greet
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Fornecedor"

      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  Id:
                    type: string
                    example: "1"
        "400":
          description: Invalid input
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: "Invalid input, please confirm your parameters"
      security:
        - apiKeyAuth: []
  
    get:
      tags:
        - Fornecedor
      summary: EndPoint para retornar todos os fornecedores
      operationId: getAllFornecedores
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Fornecedor"
        "400":
          description: Invalid input
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: "Invalid input, please confirm your parameters"
      security:
        - apiKeyAuth: []

  /api/v1/fornecedor/{A2_COD}:
    get:
      tags:
        - Fornecedor
      summary: EndPoint para retornar um fornecedor pelo código
      operationId: getFornecedorById
      parameters:
        - name: "A2_COD"
          in: path
          description: Número do código do fornecedor
          required: true
          schema:
            type: string
            example: "1"
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Fornecedor"
        "400":
          description: Invalid input
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: "Invalid input, please confirm your parameters"
      security:
        - apiKeyAuth: []

    put:
      tags:
        - Fornecedor
      summary: EndPoint para alterar um fornecedor pelo código
      operationId: UpdateFornecedor
      parameters:
        - name: "A2_COD"
          in: path
          description: Número do código do fornecedor
          required: true
          schema:
            type: string
            example: "1"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Fornecedor"
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  Id:
                    type: string
                    example: "1"
        "400":
          description: Invalid input
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: "Invalid input, please confirm your parameters"
      security:
        - apiKeyAuth: []

    delete:
      tags:
        - Fornecedor
      summary: EndPoint para deletar um fornecedor pelo código
      operationId: deleteFornecedorById
      parameters:
        - name: "A2_COD"
          in: path
          description: Número do código do fornecedor
          required: true
          schema:
            type: string
            example: "1"
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: "Fornecedor 1 deletado com sucesso"
        "400":
          description: Invalid input
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: "Invalid input, please confirm your parameters"
      security:
        - apiKeyAuth: []

  /api/v1/transportadora:
    post:
      tags:
        - Transportadora
      summary: EndPoint para criar uma transportadora
      operationId: createTransportadora
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Transportadora"

      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  Id:
                    type: string
                    example: "1"
        "400":
          description: Invalid input
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: "Invalid input, please confirm your parameters"
      security:
        - apiKeyAuth: []

    get:
      tags:
        - Transportadora
      summary: EndPoint para retornar todas transportadoras
      operationId: getAllTransportadora
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Transportadora"
        "400":
          description: Invalid input
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: "Invalid input, please confirm your parameters"
      security:
        - apiKeyAuth: []
  /api/v1/transportadora/{A4_COD}:
    get:
      tags:
        - Transportadora
      summary: EndPoint para retornar uma transportadora pelo código
      operationId: getTransportadoraById
      parameters:
        - name: "A4_COD"
          in: path
          description: Número do código da transportadora
          required: true
          schema:
            type: string
            example: "1"
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Transportadora"
        "400":
          description: Invalid input
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: "Invalid input, please confirm your parameters"
      security:
        - apiKeyAuth: []

    put:
      tags:
        - Transportadora
      summary: EndPoint para alterar uma transportadora pelo código
      operationId: UpdateTransportadora
      parameters:
        - name: "A4_COD"
          in: path
          description: Número do código da transportadora
          required: true
          schema:
            type: string
            example: "1"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Transportadora"
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  Id:
                    type: string
                    example: "1"
        "400":
          description: Invalid input
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: "Invalid input, please confirm your parameters"
      security:
        - apiKeyAuth: []

    delete:
      tags:
        - Transportadora
      summary: EndPoint para deletar uma transportadora pelo código
      operationId: deleteTransportadoraById
      parameters:
        - name: "A4_COD"
          in: path
          description: Número do código da transportadora
          required: true
          schema:
            type: string
            example: "1"
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: "Transportadora 1 deletado com sucesso"
        "400":
          description: Invalid input
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: "Invalid input, please confirm your parameters"
      security:
        - apiKeyAuth: []

  /api/v1/cliente:
    post:
      tags:
        - Cliente
      summary: EndPoint para criar um cliente
      operationId: createCliente
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Cliente"

      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  Id:
                    type: string
                    example: "1"
        "400":
          description: Invalid input
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: "Invalid input, please confirm your parameters"
      security:
        - apiKeyAuth: []

    get:
        tags:
          - Cliente
        summary: EndPoint para retornar todos os clientes
        operationId: getAllClientes
        responses:
          "200":
            description: Successful response
            content:
              application/json:
                schema:
                  type: array
                  items:
                    $ref: "#/components/schemas/Cliente"
          "400":
            description: Invalid input
            content:
              application/json:
                schema:
                  type: object
                  properties:
                    error:
                      type: string
                      example: "Invalid input, please confirm your parameters"
        security:
          - apiKeyAuth: []
  
  /api/v1/cliente/{A1_COD}:
    get:
      tags:
        - Cliente
      summary: EndPoint para retornar um cliente pelo código
      operationId: getClienteById
      parameters:
        - name: "A1_COD"
          in: path
          description: Número do código do cliente
          required: true
          schema:
            type: string
            example: "1"
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Cliente"
        "400":
          description: Invalid input
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: "Invalid input, please confirm your parameters"
      security:
        - apiKeyAuth: []

    put:
      tags:
        - Cliente
      summary: EndPoint para alterar um cliente pelo código
      operationId: UpdateCliente
      parameters:
        - name: "A1_COD"
          in: path
          description: Número do código do cliente
          required: true
          schema:
            type: string
            example: "1"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Cliente"
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  Id:
                    type: string
                    example: "1"
        "400":
          description: Invalid input
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: "Invalid input, please confirm your parameters"
      security:
        - apiKeyAuth: []

    delete:
      tags:
        - Cliente
      summary: EndPoint para deletar um cliente pelo código
      operationId: deleteClienteById
      parameters:
        - name: "A1_COD"
          in: path
          description: Número do código do cliente
          required: true
          schema:
            type: string
            example: "1"
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: "Cliente 1 deletado com sucesso"
        "400":
          description: Invalid input
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: "Invalid input, please confirm your parameters"
      security:
        - apiKeyAuth: []

  /api/v1/grupoDeProdutos:
    post:
      tags:
        - GrupoDeProdutos
      summary: EndPoint para criar grupo de produtos
      operationId: createGrupoDeProdutos
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GrupoDeProdutos"

      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  Id:
                    type: string
                    example: "1"
        "400":
          description: Invalid input
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: "Invalid input, please confirm your parameters"
      security:
        - apiKeyAuth: []

    get:
      tags:
        - GrupoDeProdutos
      summary: EndPoint para retornar todos os grupo de produtos
      operationId: getAllGrupoDeProdutos
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/GrupoDeProdutos"
        "400":
          description: Invalid input
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: "Invalid input, please confirm your parameters"
      security:
        - apiKeyAuth: []
    
  /api/v1/grupoDeProdutos/{BM_GRUPO}:
    get:
      tags:
        - GrupoDeProdutos
      summary: EndPoint para retornar um grupo de produtos pelo código
      operationId: getGrupoDeProdutosById
      parameters:
        - name: "BM_GRUPO"
          in: path
          description: Número do código do grupo de produtos
          required: true
          schema:
            type: string
            example: "1"
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GrupoDeProdutos"
        "400":
          description: Invalid input
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: "Invalid input, please confirm your parameters"
      security:
        - apiKeyAuth: []

    put:
      tags:
        - GrupoDeProdutos
      summary: EndPoint para alterar um grupo de produtos pelo código
      operationId: UpdateGrupoDeProdutos
      parameters:
        - name: "BM_GRUPO"
          in: path
          description: Número do código do grupo de produtos
          required: true
          schema:
            type: string
            example: "1"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GrupoDeProdutos"
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  Id:
                    type: string
                    example: "1"
        "400":
          description: Invalid input
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: "Invalid input, please confirm your parameters"
      security:
        - apiKeyAuth: []

    delete:
      tags:
        - GrupoDeProdutos
      summary: EndPoint para deletar um grupo de produtos pelo código
      operationId: deleteGrupoDeProdutosById
      parameters:
        - name: "BM_GRUPO"
          in: path
          description: Número do código do grupo de produtos
          required: true
          schema:
            type: string
            example: "1"
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: "Grupo de produtos 1 deletado com sucesso"
        "400":
          description: Invalid input
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: "Invalid input, please confirm your parameters"
      security:
        - apiKeyAuth: []

  /api/v1/produtos:
    post:
      tags:
        - Produtos
      summary: EndPoint para criar um produto
      operationId: Produtos
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Produtos"

      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  Id:
                    type: string
                    example: "1"
        "400":
          description: Invalid input
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: "Invalid input, please confirm your parameters"
      security:
        - apiKeyAuth: []
    get:
        tags:
          - Produtos
        summary: EndPoint para retornar todos os produtos
        operationId: getAllProdutos
        responses:
          "200":
            description: Successful response
            content:
              application/json:
                schema:
                  type: array
                  items:
                    $ref: "#/components/schemas/Produtos"
          "400":
            description: Invalid input
            content:
              application/json:
                schema:
                  type: object
                  properties:
                    error:
                      type: string
                      example: "Invalid input, please confirm your parameters"
        security:
          - apiKeyAuth: []

  /api/v1/produtos/{B1_COD}:
    get:
      tags:
        - Produtos
      summary: EndPoint para retornar um produto pelo código
      operationId: getProdutoById
      parameters:
        - name: "B1_COD"
          in: path
          description: Número do código do produto
          required: true
          schema:
            type: string
            example: "1"
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Produtos"
        "400":
          description: Invalid input
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: "Invalid input, please confirm your parameters"
      security:
        - apiKeyAuth: []

    put:
      tags:
        - Produtos
      summary: EndPoint para alterar um produto pelo código
      operationId: UpdateProduto
      parameters:
        - name: "B1_COD"
          in: path
          description: Número do código do produtos
          required: true
          schema:
            type: string
            example: "1"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Produtos"
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  Id:
                    type: string
                    example: "1"
        "400":
          description: Invalid input
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: "Invalid input, please confirm your parameters"
      security:
        - apiKeyAuth: []

    delete:
      tags:
        - Produtos
      summary: EndPoint para deletar um produto pelo código
      operationId: deleteProdutoById
      parameters:
        - name: "B1_COD"
          in: path
          description: Número do código do produto
          required: true
          schema:
            type: string
            example: "1"
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: "Produto 1 deletado com sucesso"
        "400":
          description: Invalid input
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: "Invalid input, please confirm your parameters"
      security:
        - apiKeyAuth: []
  
components:
  securitySchemes:
    apiKeyAuth:
      type: apiKey
      in: header
      name: X-API-Key
  schemas:
    Fornecedor:
      type: object
      properties:
        A2_FILIAL:
          type: string
          length: 4
          description: "Filial do Sistema"

        A2_COD:
          type: string
          length: 6
          description: "Codigo do Fornecedor"

        A2_LOJA:
          type: string
          length: 2
          description: "Loja do Fornecedor"

        A2_NOME:
          type: string
          length: 40
          description: "Nome ou Razao Social"

        A2_NREDUZ:
          type: string
          length: 20
          description: "Nome de Fantasia"

        A2_END:
          type: string
          length: 40
          description: "Endereco do Fornecedor"

        A2_NR_END:
          type: string
          length: 6
          description: "Numero do Endereco"

        A2_BAIRRO:
          type: string
          length: 20
          description: "Bairro do Fornecedor"

        A2_EST:
          type: string
          length: 2
          description: "Sigla da Federacao"

        A2_CONTPRE:
          type: string
          length: 1
          options: "1=Sim;2=Não"
          description: "Contrib. Previdenciario"
          example: "option"

        A2_ESTADO:
          type: string
          length: 20
          description: "Nome do Estado Fornecedor"

        A2_COD_MUN:
          type: string
          length: 5
          description: "Codigo do Municipio"

        A2_IBGE:
          type: string
          length: 11
          description: "Codigo do IBGE"

        A2_MUN:
          type: string
          length: 60
          description: "Municipio do Fornecedor"

        A2_CEP:
          type: string
          length: 8
          description: "Cod Enderecamento Postal"
          example: "99999999"

        A2_TIPO:
          type: string
          length: 1
          options: "F=Fisico;J=Juridico;X=Outros"
          description: "Tipo do Fornecedor"
          example: "option"

        A2_CX_POST:
          type: string
          length: 5
          description: "Caixa Postal"

        A2_PFISICA:
          type: string
          length: 18
          description: "Reg.Geral/Ced.Estrangeiro"

        A2_CGC:
          type: string
          length: 14
          description: "CNPJ/CPF do cliente"
          example: "99.999.999/9999-99"

        A2_DDI:
          type: string
          length: 6
          description: "Codigo do DDI"
          example: "999999"

        A2_DDD:
          type: string
          length: 3
          description: "Codigo do DDD"
          example: "999"

        A2_TEL:
          type: string
          length: 50
          description: "Numero do Telefone"
          example: "9999-9999"

        A2_FAX:
          type: string
          length: 15
          description: "Numero do FAX do fornec."
          example: "999999999999999"

        A2_INSCR:
          type: string
          length: 18
          description: "Inscricao Estadual"

        A2_INSCRM:
          type: string
          length: 18
          description: "Inscricao Municipal"

        A2_CONTATO:
          type: string
          length: 15
          description: "Contato na Empresa"

        A2_BANCO:
          type: string
          length: 3
          description: "Codigo do Banco"

        A2_AGENCIA:
          type: string
          length: 5
          description: "Cod Agencia Fornecedor"

        A2_NUMCON:
          type: string
          length: 10
          description: "Conta Corrente Fornecedor"

        A2_SWIFT:
          type: string
          length: 30
          description: "Swift do Fornecedor"

        A2_NATUREZ:
          type: string
          length: 10
          description: "Cod Natureza Financeira"

        A2_TRANSP:
          type: string
          length: 6
          description: "Codigo da Transportadora"

        A2_PRIOR:
          type: string
          length: 1
          description: "Prioridade de Pagamento"
          example: "9"

        A2_RISCO:
          type: string
          length: 3
          description: "Nivel de Risco"

        A2_COND:
          type: string
          length: 3
          description: "Condicao de Pagamento"

        A2_LC:
          type: string
          length: 14
          description: "Limite de Credito"

        A2_MATR:
          type: N
          length: 4
          description: "Maior Atraso em dias"
          example: "9999"

        A2_MCOMPRA:
          type: N
          length: 16
          decimal: 2
          description: "Maior Compra em Valor"
          example: "9999999999999.99"

        A2_METR:
          type: N
          length: 5
          decimal: 1
          description: "Media de Atraso em dias"
          example: "999.9"

        A2_MSALDO:
          type: N
          length: 16
          decimal: 2
          description: "Maior Saldo Credor"
          example: "9999999999999.99"

        A2_NROCOM:
          type: N
          length: 6
          description: "Numero total de Compras"
          example: "999999"

        A2_PRICOM:
          type: string
          format: date
          length: 8
          description: "Data da Primeira Compra"
          example: "yyyymmdd"

        A2_ULTCOM:
          type: string
          format: date
          length: 8
          description: "Data da ultima Compra"
          example: "yyyymmdd"

        A2_SALDUP:
          type: N
          length: 16
          decimal: 2
          description: "Saldo de Duplicatas"
          example: "9999999999999.99"

        A2_DESVIO:
          type: N
          length: 6
          decimal: 1
          description: "Desvio do prz de entrega"
          example: "9999.9"

        A2_SALDUPM:
          type: N
          length: 16
          decimal: 2
          description: "Saldo em Moeda Forte"
          example: "9999999999999.99"

        A2_CONTA:
          type: string
          length: 20
          description: "Codigo da Conta Contabil"

        A2_TIPORUR:
          type: string
          length: 1
          options: "J=Juridico;F=Pessoa Fisica;L=Familiar"
          description: "Tp.Fornec.ref.Contr.Seg. "
          example: "option"

        A2_RECISS:
          type: string
          length: 1
          options: "S=Sim;N=Nao"
          description: "Recolhe ISS ?"
          example: "option"

        A2_PAIS:
          type: string
          length: 3
          description: "Pais do Fornecedor"

        A2_PAISDES:
          type: string
          length: 25
          description: "Descr. Pais"

        A2_DEPTO:
          type: string
          length: 30
          description: "Departamento p/ Contato"

        A2_ID_FBFN:
          type: string
          length: 7
          description: "Identificacao do Fornec."

        A2_STATUS:
          type: string
          length: 1
          options: "1=Homologado;2=Nao Homologado"
          description: "Fornecedor Homologado"
          example: "option"

        A2_GRUPO:
          type: string
          length: 3
          description: "Grupo"

        A2_ATIVIDA:
          type: string
          length: 7
          description: "Cod.Atividade Economica"

        A2_ORIG_1:
          type: string
          length: 3
          description: "Origem 1"

        A2_ORIG_2:
          type: string
          length: 3
          description: "Origem 2"

        A2_ORIG_3:
          type: string
          length: 3
          description: "Origem 3"

        A2_VINCULA:
          type: string
          length: 1
          options: "1=Sem Vinculacao;2=Com,Sem Influencia de Preco;3=Com,Com Influencia de Preco"
          description: "Tipo Vinculacao"
          example: "option"

        A2_REPRES:
          type: string
          length: 52
          description: "Representante"

        A2_REPCONT:
          type: string
          length: 50
          description: "Contato"

        A2_REPRTEL:
          type: string
          length: 50
          description: "Numero do Telefone"

        A2_REPRFAX:
          type: string
          length: 30
          description: "Numero do FAX do Repres."

        A2_REPR_EM:
          type: string
          length: 30
          description: "E-Mail Representante"

        A2_REPR_EN:
          type: string
          length: 52
          description: "Endereco Representante"

        A2_REPBAIR:
          type: string
          length: 30
          description: "Bairro do Representante"

        A2_REPRMUN:
          type: string
          length: 30
          description: "Cidade do Represent."

        A2_REPREST:
          type: string
          length: 2
          description: "Nome do Estado Represent."

        A2_REPRCEP:
          type: string
          length: 8
          description: "Cod Enderecamento Postal"
          example: "99999-999"

        A2_REPPAIS:
          type: string
          length: 3
          description: "Pais do Representante"

        A2_ID_REPR:
          type: string
          length: 1
          options: "1=Sim;2=Nao"
          description: "Identifica Repres.na L.I."
          example: "option"

        A2_REPR_BA:
          type: string
          length: 3
          description: "Banco do Representate"

        A2_REPR_AG:
          type: string
          length: 5
          description: "Agencia do Representante"

        A2_REPR_CO:
          type: string
          length: 10
          description: "Conta Corrente Represent."

        A2_REPRCGC:
          type: string
          length: 14
          description: "CNPJ Representante"
          example: "99.999.999/9999-99"

        A2_RET_PAI:
          type: string
          length: 1
          options: "1=Sim;2=Nao"
          description: "Comissao Retida no Pais"
          example: "option"

        A2_COMI_SO:
          type: string
          length: 1
          options: "1=FOB;2=CFR;3=EX-Works;4=F.A.S."
          description: "Tipo Comissao"
          example: "option"

        A2_EMAIL:
          type: string
          length: 30
          description: "E-Mail"

        A2_HPAGE:
          type: string
          length: 30
          description: "Home Page"

        A2_CODMUN:
          type: string
          length: 5
          description: "Cod. Mun. ZF Manaus e ALC"
          example: "99999"

        A2_CONTCOM:
          type: string
          length: 15
          description: "Contato Comercial (NNC)"

        A2_FABRICA:
          type: string
          length: 1
          description: "Fabricante"

        A2_FATAVA:
          type: N
          length: 6
          decimal: 2
          description: "Fator de Avaliacao"
          example: "999.99"

        A2_DTAVA:
          type: string
          format: date
          length: 8
          description: "Data da Avaliacao"
          example: "yyyymmdd"

        A2_DTVAL:
          type: string
          format: date
          length: 8
          description: "Data Validade Avaliacao"
          example: "yyyymmdd"

        A2_OK:
          type: string
          length: 2
          description: "OK"

        A2_RECINSS:
          type: string
          length: 1
          options: "S=Sim;N=Nao"
          description: "Calcula INSS p/ Fornec. ?"
          example: "option"

        A2_TELEX:
          type: string
          length: 10
          description: "Numero do Telex"

        A2_TPESSOA:
          type: string
          length: 2
          options: "CI=Comercio/Industria;PF=Pessoa Fisica;OS=Prestaco de Servico"
          description: "Tipo de Pessoa"
          example: "option"

        A2_CODLOC:
          type: string
          length: 8
          description: "Codigo da Localidade"

        A2_CODPAIS:
          type: string
          length: 5
          description: "Cd. pas Banco Central"
          example: "99999"

        A2_MNOTA:
          type: N
          length: 16
          decimal: 2
          description: "Maior Nota do Fornecedor"
          example: "9999999999999.99"

        A2_TPISSRS:
          type: string
          length: 2
          description: "Tipo de Escriturao"
          example: "99"

        A2_PAISSUB:
          type: string
          length: 6
          description: "Subdiviso Pas"

        A2_RECCIDE:
          type: string
          length: 1
          options: "1=Sim;2=Nao"
          description: "Recolhe CIDE"
          example: "option"

        A2_GRPTRIB:
          type: string
          length: 3
          description: "Grupo de Tributacao"

        A2_UNFEDRP:
          type: string
          length: 30
          description: "Unidade Fed. no Exterior"

        A2_CONTAB:
          type: string
          length: 15
          description: "Conta Contabil Importao"

        A2_CLIQF:
          type: string
          length: 15
          description: "Liquidacao Futura"
          example: "999999999999999"

        A2_PLGRUPO:
          type: string
          length: 3
          description: "Classe de Fornecedor"

        A2_CODBLO:
          type: string
          length: 3
          description: "Codigo do Bloqueio"

        A2_PAISORI:
          type: string
          length: 20
          description: "Pais de Origem Fornecedor"

        A2_ROYALTY:
          type: string
          length: 1
          description: "Royalty"

        A2_TXTRIBU:
          type: N
          length: 6
          decimal: 2
          description: "Taxa de Bi-Tributacao"
          example: "999.99"

        A2_B2B:
          type: string
          length: 1
          options: "1=Sim;2=Nao"
          description: "Utiliza B2B?"
          example: "option"

        A2_PLCRRES:
          type: string
          length: 1
          options: "S=Sim;N=Nao"
          description: "Obrigat. Dig. Resp. Mov ?"
          example: "option"

        A2_PLFIL:
          type: string
          length: 1
          options: "S=Sim;N=Nao"
          description: "Filial do Grupo"
          example: "option"

        A2_SIGLCR:
          type: string
          length: 7
          description: "Sigla C.R"

        A2_CONREG:
          type: string
          length: 10
          description: "Numero do Conselho Regio."

        A2_DATBLO:
          type: string
          format: date
          length: 8
          description: "Data do Bloqueio"
          example: "yyyymmdd"

        A2_PLPEDES:
          type: N
          length: 13
          decimal: 4
          description: "% Desconto Producao Med."
          example: "999999999.9999"

        A2_CBO:
          type: string
          length: 7
          description: "Codigo CBO do Fornecedor"

        A2_CNAE:
          type: string
          length: 9
          description: "Codigo CNAE do Fornecedor"
          example: "9999-9/9999"

        A2_CIVIL:
          type: string
          length: 1
          options: "1=Solteiro;2=Casado;3=Divorciado;4=Viuvo;5=Companheiro(a)"
          description: "Estado civil"
          example: "option"

        A2_ROYMIN:
          type: N
          length: 7
          decimal: 2
          description: "Pagamento minimo Royalty"
          example: "9999.99"

        A2_SATIV1:
          type: string
          length: 6
          description: "Segmentacao de Ativid. 1"
          example: "999999"

        A2_PAGAMEN:
          type: string
          length: 1
          options: "1=Nao;2=Sim"
          description: "Recebe Pagamento?"
          example: "option"

        A2_ENDCOMP:
          type: string
          length: 21
          description: "Complemento Endereco"

        A2_MSBLQL:
          type: string
          length: 1
          options: "1=Sim;2=Nao"
          description: "Bloqueia o Fornecedor"
          example: "option"

        A2_GRPDEP:
          type: string
          length: 5
          description: "Grupo de Almoxarifados"

        A2_SUBCOD:
          type: string
          length: 1
          description: "Sub Codigo"

        A2_TIPAWB:
          type: string
          length: 1
          description: "Tipo AWB"

        A2_DTPAWB:
          type: string
          length: 30
          description: "Descricao do Tipo da AWB"

        A2_RECSEST:
          type: string
          length: 1
          options: "1=Sim;2=Nao"
          description: "Recolhe SEST"
          example: "option"

        A2_FILDEB:
          type: string
          length: 4
          description: "Filial de Debito"

        A2_RECPIS:
          type: string
          length: 1
          options: "1=Sim;2=Nao"
          description: "Recolhimento de PIS"
          example: "option"

        A2_RECCSLL:
          type: string
          length: 1
          options: "1=Sim;2=Nao"
          description: "Recolhimento da CSLL"
          example: "option"

        A2_RECCOFI:
          type: string
          length: 1
          options: "1=Sim;2=Nao"
          description: "Recolhimento da COFINS"
          example: "option"

        A2_ABICS:
          type: string
          length: 4
          description: "Cod. Abics"
          example: "9999"

        A2_CODFAV:
          type: string
          length: 6
          description: "Codigo do Favorecido"

        A2_LOJFAV:
          type: string
          length: 2
          description: "Loja do Favorecido"

        A2_NOMFAV:
          type: string
          length: 40
          description: "Nome do Favorecido"

        A2_NUMDEP:
          type: N
          length: 2
          description: "N de Dependentes"
          example: "99"

        A2_CALCIRF:
          type: string
          length: 1
          options: "1=Normal;2=IRRF Baixa;3=Simples;4=Empresa Individual"
          description: "Cálculo do IRRF."
          example: "option"

        A2_VINCULO:
          type: string
          length: 2
          description: "Pessoa Vinculada"

        A2_DTINIV:
          type: string
          format: date
          length: 8
          description: "Data Inicial do Vinculo"
          example: "yyyymmdd"

        A2_DTFIMV:
          type: string
          format: date
          length: 8
          description: "Data Final do Vinculo"
          example: "yyyymmdd"

        A2_CODADM:
          type: string
          length: 3
          description: "Cdigo Adm. Financeira"

        A2_RETISI:
          type: string
          length: 1
          options: "1=Sim;2=Nao"
          description: "Reten. a taxa de ISI"
          example: "option"

        A2_ISICM:
          type: string
          length: 1
          description: "Conv. Multilateral de ISI"

        A2_INDRUR:
          type: string
          length: 1
          options: "0=Não é prod.rural;1=Seg.Espec.Geral PF;2=Seg.Espec.Ent.PAA PF;3=Ent.PAA PJ"
          description: "Indicador produtor rural"
          example: "option"

        A2_UFFIC:
          type: string
          length: 2
          options: "ND=Não Declarado;RE=Reexportação;CB=Consumo de Bordo;MN=Mercadoria Nacionalizada"
          description: "UF Ficticia"
          example: "option"

        A2_TPREG:
          type: string
          length: 1
          options: "1=Não Cumulativo;2=Cumulativo"
          description: "Tipo de Regime"
          example: "option"

        A2_ISSRSLC:
          type: string
          length: 1
          options: "1=Sim;2=Nao"
          description: "LC Enq. ISS"
          example: "option"

        A2_SUBCON:
          type: string
          length: 1
          options: "1=Sub Contratista;2=No Sub Contratista"
          description: "SUBCON - Sub Contratista"
          example: "option"

        A2_RFASEMT:
          type: string
          length: 1
          options: "1=Sim;2=Nao"
          description: "Recolhe FASE-MT"
          example: "option"

        A2_CCICMS:
          type: string
          length: 1
          options: "1=Sim;2=Nao"
          description: "Inscrito no CCICMS"

        A2_RIMAMT:
          type: string
          length: 1
          options: "1=Sim;2=Nao"
          description: "Recolhe IMA-MT"
          example: "option"

        A2_RFACS:
          type: string
          length: 1
          options: "1=Sim;2=Nao"
          description: "Recolhe FACS"
          example: "option"

        A2_CONTRIB:
          type: string
          length: 1
          options: "1=Sim;2=Nao"
          description: "Contribuinte do ICMS"
          example: "option"

        A2_TPCON:
          type: string
          length: 2
          description: "Tipo Contrato"

        A2_RFABOV:
          type: string
          length: 1
          options: "1=Sim;2=Nao"
          description: "Recolhe FABOV"
          example: "option"

        A2_NEMPR:
          type: string
          length: 150
          description: "Nome Empresarial"

        A2_CPFIRP:
          type: string
          length: 11
          description: "CPF PJ ref IR Progressivo"
          example: "999.999.999-99"

        A2_GROSSIR:
          type: string
          length: 1
          options: "0=Sem Gross UP;1=Imp. Serv. IRRF;2=Imp. Serv. IRRF + CIDE;3=Imp. Serv. IRRF + Val. Servio"
          description: "Base de Cálculo IRRF"
          example: "option"

        A2_DEDBSPC:
          type: string
          length: 1
          options: "1=Legado;2=ICMS e IPI;3=ICMS;4=IPI;5=Nenhum;6=Soma IPI"
          description: "Ded. Base de PIS/COFINS"
          example: "option"

        A2_RECFMD:
          type: string
          length: 1
          options: "1=Sim;2=Nao"
          description: "Recolhe FAMAD"
          example: "option"

        A2_CODFI:
          type: string
          length: 3
          description: "Cdigo FIESP"

        A2_TPCONTA:
          type: string
          length: 1
          options: "1=Conta Corrente;2=Poupanca"
          description: "Tipo de Conta Bancaria"
          example: "option"

        A2_CODINSS:
          type: string
          length: 11
          description: "Cdigo do INSS"

        A2_TIPCTA:
          type: string
          length: 1
          options: "1=Conta Corrente;2=Conta poupana"
          description: "Tipo de Conta Fornecedor"
          example: "option"

        A2_REGESIM:
          type: string
          length: 1
          options: "1=Sim;2=Nao"
          description: "Reg. Simlificado MT"
          example: "option"

        A2_CPRB:
          type: string
          length: 1
          options: "1=Sim;2=Nao"
          description: "Indicativo Reteno CPRB"
          example: "option"

        A2_CPOMSP:
          type: string
          length: 1
          options: "1=Sim;2=Nao"
          description: "Registro CPOM"
          example: "option"

        A2_INDCP:
          type: string
          length: 1
          options: "1=Sobre a comercializacao da sua producao;2=Sobre a folha de pagamento"
          description: "Indicativo da opcao rural"
          example: "option"

        A2_DRPEXP:
          type: string
          length: 8
          description: "Ident.Exp.Dados"

        A2_INCULT:
          type: string
          length: 1
          options: "1=Sim;2=Nao"
          description: "Incentivo a Cultura"
          example: "option"

        A2_TPRNTRC:
          type: string
          length: 1
          options: "1=TAC;2=ETC;3=CTC"
          description: "Tipo RNTRC"
          example: "option"

        A2_DESPORT:
          type: string
          length: 1
          options: "0=Nao;1=Sim"
          description: "Associao Desportiva"
          example: "option"

        A2_EQPTAC:
          type: string
          length: 1
          options: "1=Sim;2=Nao"
          description: "Equipara  a um TAC"
          example: "option"

        A2_STRNTRC:
          type: string
          length: 1
          options: "1=Ativo;2=Inativo"
          description: "Status RNTRC"
          example: "option"

        A2_CALCINP:
          type: string
          length: 1
          options: "1=Sim;2=Nao"
          description: "Calcula INSS Patronal?"
          example: "option"

        A2_SITESBH:
          type: string
          length: 1
          options: "1=Ex Pr bde Ser;2=Pr de Ser c/ Ded;3=Con Civ;4=Ag de Tu/Adm Fun;5=Pro e Pub/Int;6=Pro e Pub/Int Is;7=Não In/Re/Rep"
          description: "Situação Especial de Resp"
          example: "option"

        A2_RESPTRI:
          type: string
          length: 2
          description: "Reg. Esp. de Tributao"

        A2_TPLOGR:
          type: string
          length: 3
          description: "Tipo Logradouro"

        A2_FORMPAG:
          type: string
          length: 2
          description: "Forma de pagamento prefer"

        A2_IMPIP:
          type: string
          length: 1
          options: "1=Pedido Compra;2=Recebimento;3=Nao Imprime;4=Documento Entrada"
          description: "Identificacao de Produto"
          example: "option"

        A2_CLIENTE:
          type: string
          length: 6
          description: "Cdigo Cliente"

        A2_TPJ:
          type: string
          length: 1
          options: "1=ME - Micro Empresa;2=EPP - Empresas de Pequeno Porte;3=MEI - Microempreendedor Individual;4=Cooperativa;5=Não optante"
          description: "Tipo de Pessoa Jurídica"
          example: "option"

        A2_INSCMU:
          type: string
          length: 1
          options: "1=Sim;2=Nao"
          description: "Ins. no Munc. do Tomador"
          example: "option"

        A2_SIMPNAC:
          type: string
          length: 1
          options: "1=Sim;2=Nao"
          description: "Optante Simples Nacional"
          example: "option"

        A2_NUMRA:
          type: string
          length: 6
          description: "Cdigo do funcionrio"

        A2_CODNIT:
          type: string
          length: 11
          description: "Nmero Inscrio Autnomo"
          example: "9999.9999.999"

        A2_IDHIST:
          type: string
          length: 20
          description: "ID Histrico"

        A2_DTCONV:
          type: string
          format: date
          length: 8
          description: "Data do Convite"
          example: "yyyymmdd"

        A2_CTARE:
          type: string
          length: 1
          options: "1=Sim;2=Nao"
          description: "Contribuinte TARE ?"
          example: "option"

        A2_DTNASC:
          type: string
          format: date
          length: 8
          description: "Data de nascimento"
          example: "yyyymmdd"

        A2_NIFEX:
          type: string
          length: 30
          description: "No.Identificacao Fiscal"
          example: "999999999999999999999999999999"

        A2_RECFET:
          type: string
          length: 1
          options: "1=Sim;2=Nao"
          description: "Recolhe FETHAB"
          example: "option"

        A2_PAISEX:
          type: string
          length: 3
          description: "Codigo do Pais pela RFB"
          example: "999"

        A2_RFUNDES:
          type: string
          length: 1
          options: "1=Sim;2=Nao"
          description: "Recolhe FUNDESA."
          example: "option"

        A2_CATEG:
          type: string
          length: 2
          description: "Categoria para SEFIP"

        A2_PRSTSER:
          type: string
          length: 1
          description: "Ind. Prestador de Serv."

        A2_OCORREN:
          type: string
          length: 2
          description: "Ocorrncia SEFIP"

        A2_CATEFD:
          type: string
          length: 3
          description: "Categoria eSocial"

        A2_MJURIDI:
          type: string
          length: 1
          options: "1=Sim;2=Nao"
          description: "Disponvel md. Jurdico"
          example: "option"

        A2_MUNSC:
          type: string
          length: 5
          description: "Codigo do Municipio de SC"

        A2_CPFRUR:
          type: string
          length: 11
          description: "CPF do produtor rural"
          example: "999.999.999-99"

        A2_TRIBFAV:
          type: string
          length: 1
          options: "1=Sim;2=Nao"
          description: "Pessoa Trib. Favor."
          example: "option"

        A2_TELRE:
          type: string
          length: 15
          description: "Numero do Telefone"

        A2_NUMEX:
          type: string
          length: 6
          description: "Numero da Residencia"

        A2_DTFIMR:
          type: string
          format: date
          length: 8
          description: "Data Final Contrato"
          example: "yyyymmdd"

        A2_DTINIR:
          type: string
          format: date
          length: 8
          description: "Data Inicio Contrato"
          example: "yyyymmdd"

        A2_FRETISS:
          type: string
          length: 1
          options: "1=Valor mínimo;2=Sempre retém"
          description: "Forma reteno ISSQN"
          example: "option"

        A2_MINIRF:
          type: string
          length: 1
          options: "1=Sim;2=Nao"
          description: "Valor Mnimo de IRRF"
          example: "option"

        A2_BREEX:
          type: string
          length: 3
          description: "Beneficiario Rendimento"
          example: "999"

        A2_ESTEX:
          type: string
          length: 40
          description: "Estado/Provindia do Func."

        A2_FILTRF:
          type: string
          length: 4
          description: "Filial para transferncia"

        A2_MSBLQD:
          type: string
          format: date
          length: 8
          description: "Bloqueio Temporal"
          example: "yyyymmdd"

        A2_INCLTMG:
          type: string
          length: 1
          options: "1=Sim;2=Nao"
          description: "Incentivo Prod.Leite-MG"
          example: "option"

        A2_TRBEX:
          type: string
          length: 2
          description: "Forma de Tributao"
          example: "99"

        A2_PAGGFE:
          type: string
          length: 1
          options: "1=Sim;2=Nao"
          description: "Pagamento pelo SIGAGFE"
          example: "option"

        A2_RNTRC:
          type: string
          length: 14
          description: "Reg. Nac. Tr. Rod. Cargas"

        A2_DTRNTRC:
          type: string
          format: date
          length: 8
          description: "Vencimento RNTRC"
          example: "yyyymmdd"

        A2_LOGEX:
          type: string
          length: 60
          description: "Logradouro do Fornecedor"

        A2_FOMEZER:
          type: string
          length: 1
          options: "1=Sim;2=Nao"
          description: "Participao no Fome Zero"
          example: "option"

        A2_CODSIAF:
          type: string
          length: 4
          description: "Cod.Municipio SIAFI"

        A2_COMPLR:
          type: string
          length: 25
          description: "Complemento Residencial"

        A2_BAIEX:
          type: string
          length: 20
          description: "Bairro/Distrito do Func."

        A2_TPREX:
          type: string
          length: 3
          description: "Tipo do Rendimento"
          example: "999"

        A2_POSEX:
          type: string
          length: 10
          description: "Cod.Postal Fornecedor"

        A2_CIDEX:
          type: string
          length: 40
          description: "Cidade do Fornecedor"

        A2_COMPLEM:
          type: string
          length: 50
          description: "Complemento do endereo"

        A2_APOLICE:
          type: string
          length: 20
          description: "Num. Apolice"

        A2_FORNEMA:
          type: string
          length: 1
          options: "1=Sim;2=Nao"
          description: "Fornecedor de Mailing"
          example: "option"

        A2_ENDNOT:
          type: string
          length: 1
          options: "1=Sim;2=Nao"
          description: "Endereo no formatado"

        A2_MOTNIF:
          type: string
          length: 1
          options: "1=Dispensado do NIF;2=País não exige NIF"
          description: "Mot. N.Preench NIF"
          example: "option"

        A2_REGPB:
          type: string
          length: 1
          options: "1=Sim;2=Nao"
          description: "Regime Paraba"
          example: "option"

        A2_MINPUB:
          type: string
          length: 1
          options: "1=Sim;2=Nao"
          description: "Valor Mín. PCC e IR EmPub"
          example: "option"

        A2_LOJCLI:
          type: string
          length: 2
          description: "Loja Cliente"

        A2_IRPROG:
          type: string
          length: 1
          options: "1=Sim;2=Nao"
          description: "Calcula IRRF Progressivo"
          example: "option"

        A2_INOVAUT:
          type: string
          length: 1
          options: "1=Participa;2=Não Participa;3=Convidar"
          description: "Inovar Auto"
          example: "option"

        A2_NOMRESP:
          type: string
          length: 45
          description: "Nome do Responsavel"

        A2_TPENT:
          type: string
          length: 1
          options: "1=Imune;2=Isento"
          description: "Class. Pessoa Jurdica"
          example: "option"

        A2_CARGO:
          type: string
          length: 40
          description: "Cargo Responsavel"

        A2_LOCQUIT:
          type: string
          length: 1
          options: "0=Filial;1=Posto"
          description: "Local de Quitacao"
          example: "option"

        A2_DVCTA:
          type: string
          length: 2
          description: "Digito Verificador Conta"

        A2_CGCEX:
          type: string
          length: 14
          description: "CNPJ Empresa Exterior"
          example: "99.999.999/9999-99"

        A2_CONFFIS:
          type: string
          length: 1
          options: "0=Parmetro;1=Pr-Nota;2=Nota Fiscal;3=Nao utiliza"
          description: "Indica o local da confe."
          example: "option"

        A2_DVAGE:
          type: string
          length: 1
          description: "Digito Verific. Agencia"
      required:
         [
         "A2_FILIAL",
         "A2_COD",
         "A2_LOJA",
         "A2_NOME",
         "A2_NREDUZ",
         "A2_END",
         "A2_EST",
         "A2_MUN",
         "A2_TIPO"
         ]

    Transportadora:
      type: object
      properties:
        A4_FILIAL:
          type: string
          length: 4
          description: "Filial do Sistema"

        A4_COD:
          type: string
          length: 6
          description: "Codigo da Transportadora"

        A4_NOME:
          type: string
          length: 40
          description: "Nome da transportadora"

        A4_NREDUZ:
          type: string
          length: 15
          description: "Nome reduzido da transp."

        A4_VIA:
          type: string
          length: 15
          description: "Via de Transporte"

        A4_END:
          type: string
          length: 40
          description: "Endereco da Transportad."

        A4_BAIRRO:
          type: string
          length: 30
          description: "Bairro da Transportadora"

        A4_COD_MUN:
          type: string
          length: 5
          description: "Código do município"

        A4_MUN:
          type: string
          length: 60
          description: "Municipio da Transportad."

        A4_EST:
          type: string
          length: 2
          description: "Estado da transportadora"

        A4_CEP:
          type: string
          length: 8
          description: "Cod Enderecamento Postal"
          example: "99999-999"

        A4_DDI:
          type: string
          length: 6
          description: "Codigo do DDI"
          example: "999999"

        A4_DDD:
          type: string
          length: 3
          description: "Codigo do DDD"
          example: "999"

        A4_TEL:
          type: string
          length: 15
          description: "Telefone da Transportad."
          example: "9999999999"

        A4_CGC:
          type: string
          length: 14
          description: "CNPJ/CPF da transportador"
          example: "99.999.999/9999-99"

        A4_TELEX:
          type: string
          length: 10
          description: "Telex da transportadora"

        A4_INSEST:
          type: string
          length: 15
          description: "Inscricao Estadual"

        A4_EMAIL:
          type: string
          length: 30
          description: "E-Mail"

        A4_HPAGE:
          type: string
          length: 30
          description: "Home-Page"

        A4_CONTATO:
          type: string
          length: 15
          description: "Contato na transportadora"

        A4_ESTFIS:
          type: string
          length: 6
          description: "Estrutura Fisica"

        A4_ENDPAD:
          type: string
          length: 15
          description: "Endereco Padrão Carg/Desc"

        A4_LOCAL:
          type: string
          length: 2
          description: "Local"

        A4_RATFRE:
          type: string
          length: 1
          options: "1=Peso;2=Quantidade;3=Volume;4=Item"
          description: "Rateio do Frete"
          example: "option"

        A4_COMPLEM:
          type: string
          length: 50
          description: "Complemento do endereço"

        A4_FOMEZER:
          type: string
          length: 1
          options: "1=Sim;2=Não"
          description: "Participante no Fome Zero"
          example: "option"

        A4_SUFRAMA:
          type: string
          length: 12
          description: "Inscrição Suframa"

        A4_CODPAIS:
          type: string
          length: 5
          description: "Código do país"
          example: "99999"

        A4_TPTRANS:
          type: string
          length: 1
          options: "1=Inscrito;2=Não inscrito;3=Autônomo"
          description: "Tipo do transportador"
          example: "option"

        A4_COLIG:
          type: string
          length: 1
          options: "S=Sim;N=Nao"
          description: "Transportadora Coligada?"
          example: "option"

        A4_INSCRM:
          type: string
          length: 18
          description: "Inscricao Municipal"

        A4_ANTT:
          type: string
          length: 14
          description: "Reg Nac Transp Rod Cargas"

        A4_ENDNOT:
          type: string
          length: 1
          options: "1=Sim;2=Não"
          description: "Endereço não formatado"
          example: "option"

        A4_IDETIQ:
          type: string
          length: 10
          description: "ID da etiqueta"

        A4_ECSERVI:
          type: string
          length: 6
          description: "Cod. E-Commerce."
      required:
        [
        "A4_FILIAL",
        "A4_COD",
        "A4_NOME"
        ]

    Cliente:
      type: object
      properties:
        A1_FILIAL:
          type: string
          length: 4
          description: "Filial do Sistema"

        A1_COD:
          type: string
          length: 6
          description: "Codigo do Cliente"

        A1_LOJA:
          type: string
          length: 2
          description: "Loja do Cliente"

        A1_CGC:
          type: string
          length: 14
          description: "CNPJ/CPF do cliente"
          example: "99.999.999/9999-99"

        A1_PESSOA:
          type: string
          length: 1
          options: "F=Fisica;J=Juridica"
          description: "Pessoa Fisica/Juridica"
          example: "option"

        A1_NOME:
          type: string
          length: 40
          description: "Nome do cliente"

        A1_END:
          type: string
          length: 80
          description: "Endereco do cliente"

        A1_NREDUZ:
          type: string
          length: 20
          description: "Nome Reduzido do cliente"

        A1_BAIRRO:
          type: string
          length: 40
          description: "Bairro do cliente"

        A1_TIPO:
          type: string
          length: 1
          options: "F=Cons.Final;L=Produtor Rural;R=Revendedor;S=Solidario;X=Exportacao"
          description: "Tipo do Cliente"
          example: "option"

        A1_EST:
          type: string
          length: 2
          description: "Estado do cliente"

        A1_ESTADO:
          type: string
          length: 20
          description: "Nome do Estado Fornecedor"

        A1_COD_MUN:
          type: string
          length: 5
          description: "Código do Municipio"

        A1_CEP:
          type: string
          length: 8
          description: "Cod Enderecamento Postal"
          example: "99999-999"

        A1_MUN:
          type: string
          length: 60
          description: "Municipio do cliente"

        A1_DSCREG:
          type: string
          length: 15
          description: "Descrição da Região"

        A1_REGIAO:
          type: string
          length: 3
          description: "Regiao do Cliente"

        A1_NATUREZ:
          type: string
          length: 10
          description: "Codigo da Nat Financeira"

        A1_IBGE:
          type: string
          length: 11
          description: "Codigo do IBGE"

        A1_DDI:
          type: string
          length: 6
          description: "Codigo do DDI"
          example: "999999"

        A1_DDD:
          type: string
          length: 3
          description: "Codigo do DDD"
          example: "999"

        A1_ENDCOB:
          type: string
          length: 40
          description: "End.de cobr. do cliente"

        A1_ENDENT:
          type: string
          length: 40
          description: "End.de entr. do cliente"

        A1_TRIBFAV:
          type: string
          length: 1
          options: "1=Sim;2=Não"
          description: "Pessoa Trib. Favor."
          example: "option"

        A1_COMPENT:
          type: string
          length: 50
          description: "Compl. do End. de Entrega"

        A1_TEL:
          type: string
          length: 15
          description: "Telefone do cliente"
          example: "999999999999999"

        A1_ENDREC:
          type: string
          length: 40
          description: "End.de Receb. do cliente"

        A1_CONTATO:
          type: string
          length: 15
          description: "Nome do Contato"

        A1_FAX:
          type: string
          length: 15
          description: "Numero do FAX do cliente"
          example: "999999999999999"

        A1_TELEX:
          type: string
          length: 10
          description: "Telex do cliente"

        A1_PFISICA:
          type: string
          length: 18
          description: "Reg.Geral/Ced.Estrangeiro"

        A1_INSCR:
          type: string
          length: 18
          description: "Inscricao Estadual"

        A1_PAIS:
          type: string
          length: 3
          description: "Codigo do País"

        A1_INSCRM:
          type: string
          length: 18
          description: "Inscricao Municipal"

        A1_VEND:
          type: string
          length: 6
          description: "Codigo do Vendedor"

        A1_PAISDES:
          type: string
          length: 25
          description: "Descr. Pais"

        A1_COMIS:
          type: number
          length: 5
          decimal: 2
          description: "Aliquota de Comissao"
          example: "99.99"

        A1_CONTA:
          type: string
          length: 20
          description: "Conta Contabil do cliente"

        A1_BCO1:
          type: string
          length: 3
          description: "BANCO 1"

        A1_BCO2:
          type: string
          length: 3
          description: "BANCO 2"

        A1_BCO3:
          type: string
          length: 3
          description: "BANCO 3"

        A1_BCO4:
          type: string
          length: 3
          description: "BANCO 4"

        A1_BCO5:
          type: string
          length: 3
          description: "BANCO 5"

        A1_TRANSP:
          type: string
          length: 6
          description: "Codigo da Transportadora"

        A1_TPFRET:
          type: string
          length: 1
          options: "C=CIF;F=FOB;T=Por conta terceiros;R=Por conta remetente;D=Por conta destinatário;S=Sem frete"
          description: "Tipo de Frete do cliente"
          example: "option"

        A1_COND:
          type: string
          length: 3
          description: "Condicao de Pagamento"

        A1_DESC:
          type: number
          length: 2
          description: "Desconto ao cliente"
          example: "99"

        A1_PRIOR:
          type: string
          length: 1
          description: "Prioridade do cliente"
          example: "9"

        A1_RISCO:
          type: string
          length: 1
          options: "A=Risco A;B=Risco B;C=Risco C;D=Risco D;E=Risco E"
          description: "Grau de Risco do cliente"
          example: "option"

        A1_LC:
          type: number
          length: 14
          decimal: 2
          description: "Limite de Cred.do cliente"
          example: "999999999.99"

        A1_VENCLC:
          type: string
          length: 8
          description: "Vencimento do Lim. Credit"
          example: "yyyymmdd"

        A1_CLASSE:
          type: string
          length: 1
          options: "A=Classe A;B=Classe B;C=Classe C"
          description: "Classe de Credito"
          example: "option"

        A1_LCFIN:
          type: number
          length: 14
          decimal: 2
          description: "Lim Credito Secundario"
          example: "999999999.99"

        A1_MOEDALC:
          type: number
          length: 2
          description: "Moeda do Limite de credit"
          example: "99"

        A1_MSALDO:
          type: number
          length: 16
          decimal: 2
          description: "Maior Saldo do cliente"
          example: "9999999999999.99"

        A1_MCOMPRA:
          type: number
          length: 16
          decimal: 2
          description: "Maior Compra do cliente"
          example: "9999999999999.99"

        A1_METR:
          type: number
          length: 7
          decimal: 2
          description: "Méd.de atrasos do cliente"
          example: "9999.99"

        A1_PRICOM:
          type: string
          length: 8
          description: "Data 1a Compra do cliente"
          example: "yyyymmdd"

        A1_ULTCOM:
          type: string
          length: 8
          description: "Data da ultima Compra"
          example: "yyyymmdd"

        A1_NROCOM:
          type: number
          length: 5
          description: "Nro de compras do cliente"
          example: "99999"

        A1_FORMVIS:
          type: string
          length: 3
          description: "Formula da Visita"

        A1_TEMVIS:
          type: number
          length: 3
          description: "Frequencia de Visitas"
          example: "999"

        A1_ULTVIS:
          type: string
          length: 8
          description: "Data da ultima Visita"
          example: "yyyymmdd"

        A1_TMPVIS:
          type: string
          length: 5
          description: "Tempo da Visita"
          example: "99:99"

        A1_CLASVEN:
          type: string
          length: 1
          options: "A=Classe A;B=Classe B;C=Classe C"
          description: "Classificacao de Vendas"
          example: "option"

        A1_TMPSTD:
          type: string
          length: 5
          description: "Tempo Padrao p/Deslocam."
          example: "99:99"

        A1_MENSAGE:
          type: string
          length: 3
          description: "Mensagem do cliente"

        A1_SALDUP:
          type: number
          length: 16
          decimal: 2
          description: "Saldo Duplic. do cliente"
          example: "9999999999999.99"

        A1_RECISS:
          type: string
          length: 1
          options: "1=Sim;2=Não"
          description: "Recolhe ISS?"
          example: "option"

        A1_NROPAG:
          type: number
          length: 4
          description: "Nro de Pagtos do cliente"
          example: "9999"

        A1_SALPEDL:
          type: number
          length: 16
          decimal: 2
          description: "Saldo Pedidos Liberados"
          example: "9999999999999.99"

        A1_TRANSF:
          type: string
          length: 1
          description: "Flag p/transf. arquivos"

        A1_SUFRAMA:
          type: string
          length: 12
          description: "Codigo na SUFRAMA"

        A1_ATR:
          type: number
          length: 16
          decimal: 2
          description: "Valor dos Atrasos"
          example: "9999999999999.99"

        A1_VACUM:
          type: number
          length: 16
          decimal: 2
          description: "Valor Acum. Vendas no Ano"
          example: "9999999999999.99"

        A1_SALPED:
          type: number
          length: 16
          decimal: 2
          description: "Saldo de Pedidos"
          example: "9999999999999.99"

        A1_TITPROT:
          type: number
          length: 3
          description: "Titulos Protestados"
          example: "999"

        A1_DTULTIT:
          type: string
          length: 8
          description: "Data do Ult. Titulos Dev."
          example: "yyyymmdd"

        A1_CHQDEVO:
          type: number
          length: 3
          description: "Numero de Cheques Devolv."
          example: "999"

        A1_MATR:
          type: number
          length: 4
          description: "Maior atraso do cliente"
          example: "9999"

        A1_DTULCHQ:
          type: string
          length: 8
          description: "Dt.de Devol. Ult. Cheque"
          example: "yyyymmdd"

        A1_MAIDUPL:
          type: number
          length: 16
          decimal: 2
          description: "Valor da maior Duplicata"
          example: "9999999999999.99"

        A1_TABELA:
          type: string
          length: 3
          description: "Tabela de preco padrao"

        A1_INCISS:
          type: string
          length: 1
          options: "S=Sim;N=Não"
          description: "ISS incluso no preço"
          example: "option"

        A1_SALDUPM:
          type: number
          length: 16
          decimal: 2
          description: "Saldo em Moeda Forte"
          example: "9999999999999.99"

        A1_PAGATR:
          type: number
          length: 16
          decimal: 2
          description: "Pag. feitos com atraso"
          example: "9999999999999.99"

        A1_CXPOSTA:
          type: string
          length: 20
          description: "Caixa Postal"

        A1_ATIVIDA:
          type: string
          length: 7
          description: "Codigo da Atividade"

        A1_CARGO1:
          type: string
          length: 15
          description: "Cargo do Contato Coml."

        A1_CARGO2:
          type: string
          length: 15
          description: "Cargo do Contato CPD"

        A1_CARGO3:
          type: string
          length: 15
          description: "Cargo do Contato C.Rec."

        A1_SUPER:
          type: string
          length: 6
          description: "Franquia Responsavel"

        A1_RTEC:
          type: string
          length: 6
          description: "Representante Tecnico"

        A1_ALIQIR:
          type: number
          length: 5
          decimal: 2
          description: "Aliquota IRRF"
          example: "99.99"

        A1_RG:
          type: string
          length: 15
          description: "Cedula de Identidade"

        A1_OBSERV:
          type: string
          length: 40
          description: "Observacao para relatorio"

        A1_CALCSUF:
          type: string
          length: 1
          options: "S=Sim;N=Nao;I=ICMS"
          description: "Calcula Desc. p/ Suframa"
          example: "option"

        A1_DTNASC:
          type: string
          length: 8
          description: "Data de Nasc. ou Abertura"
          example: "yyyymmdd"

        A1_SALPEDB:
          type: number
          length: 16
          decimal: 2
          description: "Saldo Pedido Bloq.Credito"
          example: "9999999999999.99"

        A1_CLIFAT:
          type: string
          length: 6
          description: "Cliente a Faturar"

        A1_GRPTRIB:
          type: string
          length: 3
          description: "Grupo de Clientes"

        A1_BAIRROC:
          type: string
          length: 30
          description: "Bairro de cobranca"

        A1_CEPC:
          type: string
          length: 8
          description: "Cep de Cobranca"
          example: "99999-999"

        A1_MUNC:
          type: string
          length: 15
          description: "Municipio de Cobranca"

        A1_ESTC:
          type: string
          length: 2
          description: "Uf de Cobranca"

        A1_CEPE:
          type: string
          length: 8
          description: "Cep de Entrega"
          example: "99999-999"

        A1_BAIRROE:
          type: string
          length: 20
          description: "Bairro de Entrega"

        A1_MUNE:
          type: string
          length: 60
          description: "Municipio de Entrega"

        A1_ESTE:
          type: string
          length: 2
          description: "Estado de Entrega"

        A1_SATIV1:
          type: string
          length: 6
          description: "Segmentacao de Ativid. 1"
          example: "999999"

        A1_DSATIV1:
          type: string
          length: 60
          description: "Descrição Segmento 1"

        A1_SATIV2:
          type: string
          length: 6
          description: "Segmentacao de Ativid. 2"
          example: "999999"

        A1_CODPAIS:
          type: string
          length: 5
          description: "Cód. país Banco Central"
          example: "99999"

        A1_DSATIV2:
          type: string
          length: 60
          description: "Descrição Segmento 2"

        A1_TPISSRS:
          type: string
          length: 2
          description: "Tipo de Escrituração"
          example: "99"

        A1_CODLOC:
          type: string
          length: 8
          description: "Código da Localidade"

        A1_TPESSOA:
          type: string
          length: 2
          options: "CI=Comercio/Industria;PF=Pessoa Fisica;OS=Prestacäo de Servico;EP=Empresa Publica"
          description: "Tipo de Pessoa"
          example: "option"

        A1_SATIV3:
          type: string
          length: 6
          description: "Segmentacao de Ativid. 3"
          example: "999999"

        A1_DSATIV3:
          type: string
          length: 60
          description: "Descrição Segmento 3"

        A1_SATIV4:
          type: string
          length: 6
          description: "Segmentacao de Ativid. 4"
          example: "999999"

        A1_DSATIV4:
          type: string
          length: 60
          description: "Descrição Segmento 4"

        A1_SATIV5:
          type: string
          length: 6
          description: "Segmentacao de Ativid. 5"
          example: "999999"

        A1_DSATIV5:
          type: string
          length: 60
          description: "Descrição Segmento 5"

        A1_SATIV6:
          type: string
          length: 6
          description: "Segmentacao de Ativid. 6"
          example: "999999"

        A1_DSATIV6:
          type: string
          length: 60
          description: "Descrição Segmento 6"

        A1_SATIV7:
          type: string
          length: 6
          description: "Segmentacao de Ativid. 7"
          example: "999999"

        A1_DSATIV7:
          type: string
          length: 60
          description: "Descrição Segmento 7"

        A1_SATIV8:
          type: string
          length: 6
          description: "Segmentacao de Ativid. 8"
          example: "999999"

        A1_DSATIV8:
          type: string
          length: 60
          description: "Descrição Segmento 8"

        A1_CODMARC:
          type: string
          length: 6
          description: "Marcacao"

        A1_CODAGE:
          type: string
          length: 6
          description: "Código do agente"

        A1_VM_MARC:
          type: string
          length: 20
          description: "Cod.Marcação"

        A1_COMAGE:
          type: number
          length: 15
          decimal: 8
          description: "% Comissão agente"
          example: "999999.99999999"

        A1_TIPCLI:
          type: string
          length: 1
          options: "1=Importador;2=Consignee;3=Notify;4=Todos"
          description: "Tipo Cliente Exportação"
          example: "option"

        A1_DEST_1:
          type: string
          length: 3
          description: "Destino 1"

        A1_EMAIL:
          type: string
          length: 30
          description: "E-Mail"

        A1_DEST_2:
          type: string
          length: 3
          description: "Destino 2"

        A1_CODMUN:
          type: string
          length: 5
          description: "Cod. Mun. ZF Manaus e ALC"

        A1_HPAGE:
          type: string
          length: 30
          description: "Home-Page"

        A1_DEST_3:
          type: string
          length: 3
          description: "Destino 3"

        A1_CBO:
          type: string
          length: 7
          description: "Codigo do CBO"

        A1_CNAE:
          type: string
          length: 9
          description: "Código CNAE do Cliente"
          example: "9999-9/99"

        A1_CONDPAG:
          type: string
          length: 5
          description: "Cond. Pagto"

        A1_DIASPAG:
          type: number
          length: 3
          description: "Dias  Pagto"
          example: "999"

        A1_DESCPAG:
          type: string
          length: 60
          description: "Descricao em Portugues"

        A1_OBS:
          type: string
          length: 6
          description: "Observacoes"

        A1_VM_OBS:
          type: string
          length: 60
          description: "Observações"

        A1_AGREG:
          type: string
          length: 4
          description: "Agregador de liberacao"

        A1_CODHIST:
          type: string
          length: 6
          description: "Codigo da Obs. do Hist."
          example: "999999"

        A1_RECINSS:
          type: string
          length: 1
          options: "S=Sim;N=Não"
          description: "Recolhe INSS <S/N> ?"
          example: "option"

        A1_RECCOFI:
          type: string
          length: 1
          options: "S=Sim;N=Nao;P=Empresa Pública"
          description: "Recolhe COFINS  ?"
          example: "option"

        A1_RECCSLL:
          type: string
          length: 1
          options: "S=Sim;N=Nao;P=Empresa Pública"
          description: "Recolhe CSLL ?"
          example: "option"

        A1_RECPIS:
          type: string
          length: 1
          options: "S=Sim;N=Nao;P=Empresa Pública"
          description: "Recolhe PIS ?"
          example: "option"

        A1_HISTMK:
          type: string
          length: 35
          description: "Historico do Atendimento"

        A1_TIPPER:
          type: string
          length: 2
          options: "02=Toda segunda;03=Toda terca;04=Toda quarta;05=Toda quinta;06=Toda sexta;10=a cada 10 dias;15=a cada 15 dias;30=todo fim de mes"
          description: "Tipo de Periodo"
          example: "option"

        A1_SALFIN:
          type: number
          length: 16
          decimal: 2
          description: "Saldo LC secundario"
          example: "9999999999999.99"

        A1_CONTAB:
          type: string
          length: 15
          description: "Conta contabil importacäo"

        A1_SALFINM:
          type: number
          length: 16
          decimal: 2
          description: "Saldo LC Secundario na MF"
          example: "9999999999999.99"

        A1_B2B:
          type: string
          length: 1
          options: "1=Sim;2=Não"
          description: "Utiliza B2B?"
          example: "option"

        A1_GRPVEN:
          type: string
          length: 6
          description: "Grupo de Vendas."

        A1_MSBLQL:
          type: string
          length: 1
          options: "1=Inativo;2=Ativo"
          description: "Status do Registro"
          example: "option"

        A1_INSCRUR:
          type: string
          length: 18
          description: "Inscricao produtor rural"

        A1_CLICNV:
          type: string
          length: 1
          options: "0=Nao;1=Sim"
          description: "O Cliente e¦ Convenio?"
          example: "option"

        A1_COMPLEM:
          type: string
          length: 50
          description: "Complemento do endereço"

        A1_HRCAD:
          type: string
          length: 5
          description: "Hora de Cadastro"
          example: "99:99"

        A1_DTCAD:
          type: string
          length: 8
          description: "Data de Cadastro"
          example: "yyyymmdd"

        A1_CLIPRI:
          type: string
          length: 6
          description: "Cliente Primário"

        A1_LOJPRI:
          type: string
          length: 2
          description: "Loja do Cliente Primário"

        A1_CODSEG:
          type: string
          length: 6
          description: "Código do Segmento"

        A1_DESSEG:
          type: string
          length: 40
          description: "Descrição do Segmento"

        A1_NUMRA:
          type: string
          length: 15
          description: "Numero da RA aluno"

        A1_SITUA:
          type: string
          length: 2
          description: "Situacão Front Loja"

        A1_SUBCOD:
          type: string
          length: 1
          description: "Sub codigo"

        A1_CDRDES:
          type: string
          length: 6
          description: "Regiao do Cliente"

        A1_REGDES:
          type: string
          length: 30
          description: "Descr. Regiao do Cliente"

        A1_FILDEB:
          type: string
          length: 4
          description: "Filial de Debito"

        A1_CODFOR:
          type: string
          length: 15
          description: "Cod.Fornec.para o cliente"

        A1_ABICS:
          type: string
          length: 4
          description: "Cod. Abics"
          example: "9999"

        A1_BLEMAIL:
          type: string
          length: 1
          options: "1=Sim;2=Não"
          description: "Boleto Via Email (Cnab)"
          example: "option"

        A1_TIPOCLI:
          type: string
          length: 2
          description: "Tipo do Cliente"

        A1_VINCULO:
          type: string
          length: 2
          description: "Pessoa Vinculada"

        A1_DTINIV:
          type: string
          length: 8
          description: "Data Inicial do Vinculo"
          example: "yyyymmdd"

        A1_DTFIMV:
          type: string
          length: 8
          description: "Data Final do Vinculo"
          example: "yyyymmdd"

        A1_LOCCONS:
          type: string
          length: 2
          description: "Armazem Destino"

        A1_CODMUNE:
          type: string
          length: 5
          description: "Municipio da Entrega"

        A1_PERFIL:
          type: number
          length: 2
          description: "Nota Perfil do Cliente"
          example: "99"

        A1_HRTRANS:
          type: string
          length: 5
          description: "Translado"
          example: "99:99"

        A1_UNIDVEN:
          type: string
          length: 6
          description: "Unidade de Venda"

        A1_TIPPRFL:
          type: string
          length: 1
          options: "1=Perfil 1;2=Perfil 2;3=Perfil 3;4=Perfil 4;5=Perfil 5;6=Perfil 6"
          description: "Tipo de Perfil do cliente"
          example: "option"

        A1_PRF_VLD:
          type: string
          length: 8
          description: "Data de validade do Perfi"
          example: "yyyymmdd"

        A1_PRF_COD:
          type: string
          length: 6
          description: "Codigo do campo memo de P"

        A1_PRF_OBS:
          type: string
          length: 10
          description: "Observacao do Perfil"

        A1_REGPB:
          type: string
          length: 1
          options: "1=Sim;2=Não"
          description: "Regime Paraíba"
          example: "option"

        A1_TPREG:
          type: string
          length: 1
          options: "1=Não Cumulativo;2=Cumulativo"
          description: "Tipo de Regime"

        A1_USADDA:
          type: string
          length: 1
          options: "1=Sim;2=Não"
          description: "Cliente aderiu ao DDA"
          example: "option"

        A1_SIMPLES:
          type: string
          length: 1
          options: "1=Sim;2=Não"
          description: "Clie. optante SIMPLES/SC"
          example: "option"

        A1_MSEXP:
          type: string
          length: 8
          description: "Ident.Exp.Dados"

        A1_NIF:
          type: string
          length: 40
          description: "Num. de Ident. Fiscal"

        A1_CODSIAF:
          type: string
          length: 4
          description: "Cod.Municipio SIAFI"

        A1_INDRET:
          type: string
          length: 2
          description: "Indicador de Retencao"

        A1_ENDNOT:
          type: string
          length: 1
          options: "1=Sim;2=Não"
          description: "Endereço não formatado"
          example: "option"

        A1_CEINSS:
          type: string
          length: 14
          description: "Cadastro Especifico INSS"

        A1_IDHIST:
          type: string
          length: 20
          description: "Id.Historico"

        A1_FRETISS:
          type: string
          length: 1
          options: "1=Cons Vlr Mínimo;2=Sempre Retém"
          description: "Forma de retenção do ISS"
          example: "option"

        A1_CTARE:
          type: string
          length: 1
          options: "1=Sim;2=Não"
          description: "Contribuinte TARE ?"
          example: "option"

        A1_RESERVE:
          type: string
          length: 1
          options: "1=Pendente inclusão;2=Pendente alteração;3=Pendente exclusão;4=Sincronizado"
          description: "Situação no Reserve"
          example: "option"

        A1_IRBAX:
          type: string
          length: 1
          options: "1=Sim;2=Não"
          description: "IRPJ baixa"
          example: "option"

        A1_ORIGEM:
          type: string
          length: 2
          description: "Origem do Cliente"

        A1_IPWEB:
          type: string
          length: 20
          description: "IP WebSite do Cliente"

        A1_PERCATM:
          type: number
          length: 5
          decimal: 2
          description: "Pecentual de Carga Media"
          example: "99.99"

        A1_REGESIM:
          type: string
          length: 1
          options: "1=Sim;2=Não"
          description: "Reg. Simlificado MT"
          example: "option"

        A1_ABATIMP:
          type: string
          length: 1
          options: "1=Calculo do Sistema;2=Efetua Retencao;3=Nao efetua retencao"
          description: "Modo Abatim. Imposto"
          example: "option"

        A1_PERFECP:
          type: number
          length: 5
          decimal: 2
          description: "Per.Carga devida ao Fundo"
          example: "99.99"

        A1_IENCONT:
          type: string
          length: 1
          options: "1=Sim;2=Não"
          description: "Destaca IE não Contr."
          example: "option"

        A1_CODMEMB:
          type: string
          length: 14
          description: "Código do Membro"

        A1_CHVCAM:
          type: string
          length: 14
          description: "Código da Campanha"

        A1_CODTER:
          type: string
          length: 6
          description: "Código do Território"

        A1_ORIGCT:
          type: string
          length: 1
          options: "1=Mailing;2=Campanha;3=Web;4=Indicação;5=Evento;6=Anúncio;7=Parceiro;8=Relações públicas;9=Seminário;A=Boca-a-boca;B=Outros"
          description: "Origem do Cliente"
          example: "option"

        A1_ALIFIXA:
          type: string
          length: 1
          options: "1=Sim;2=Não"
          description: "Ind. Alíquota fixa"
          example: "option"

        A1_TPMEMB:
          type: string
          length: 1
          options: "1=Unidade de Negócio;2=Papeis do Usuario;3=Equipe"
          description: "Tipo do Membro"
          example: "option"

        A1_NOMTER:
          type: string
          length: 40
          description: "Nome do Território"

        A1_ENTORI:
          type: string
          length: 6
          description: "Entidade de Origem"

        A1_CRDMA:
          type: string
          length: 1
          options: "1=Nao Incent.;2=Construtora;3=Outros"
          description: "Crédito Estimulo Manaus"
          example: "option"

        A1_DSCMEMB:
          type: string
          length: 100
          description: "Descrição do Membro"

        A1_TPDP:
          type: string
          length: 1
          options: "1=Sim;2=Não"
          description: "Calcula TPDP"
          example: "option"

        A1_RFABOV:
          type: string
          length: 1
          options: "1=Sim;2=Não"
          description: "Recolhe FABOV"
          example: "option"

        A1_RFACS:
          type: string
          length: 1
          options: "1=Sim;2=Não"
          description: "Recolhe FACS"
          example: "option"

        A1_PRSTSER:
          type: string
          length: 1
          description: "Ind. Prestador de Serv."

        A1_SIMPNAC:
          type: string
          length: 1
          options: "1=Sim;2=Não"
          description: "Optante Simples Nacional"
          example: "option"

        A1_TPNFSE:
          type: string
          length: 2
          options: "0=Outro;1=SUS;2=Executivo;3=Bancos;4=Comercio/Industria;5=Legislativo/Judiciario"
          description: "Tipo de pessoa NFSE"
          example: "option"

        A1_ENTID:
          type: string
          length: 2
          options: "00=PJ D Pv;01=Órg,A Fd;02=Aq Ap;03=EP/SocEcMta/PJ;04=//PJ-Tr P;05=//-Sv Pr F;06=//-Dm Sv;07=//-D E;08=//-A Pf;09=//-Cb;10=Pg n E"
          description: "Tipo de Entidade"
          example: "99"

        A1_MATFUN:
          type: string
          length: 6
          description: "Matricula do usuário"

        A1_DESCAM:
          type: string
          length: 40
          description: "Descrição da Campanha"

        A1_CODFID:
          type: string
          length: 40
          description: "Código Cartão Fidelidade"

        A1_MINIRF:
          type: string
          length: 1
          options: "1=Sim;2=Não"
          description: "Valor Mínimo de IRRF"
          example: "option"

        A1_USERLGI:
          type: string
          length: 17
          description: "Log de Inclusão"

        A1_USERLGA:
          type: string
          length: 17
          description: "Log de Alteração"

        A1_INCULT:
          type: string
          length: 1
          options: "1=Sim;2=Não"
          description: "Incentivo a Cultura"
          example: "option"

        A1_HREXPO:
          type: string
          length: 8
          description: "Hora da ultima Exportação"

        A1_FOMEZER:
          type: string
          length: 1
          options: "1=Sim;2=Não"
          description: "Participação Fome Zero"
          example: "option"

        A1_ISSRSLC:
          type: string
          length: 1
          description: "LC Enq. ISS"

        A1_RECFET:
          type: string
          length: 1
          options: "1=Sim;2=Não"
          description: "Recolhe FETHAB"
          example: "option"

        A1_RECIRRF:
          type: string
          length: 1
          options: "1=Sim;2=Nao"
          description: "Cliente recolhera IRRF"
          example: "option"

        A1_TDA:
          type: string
          length: 1
          options: "1=Sim;2=Não"
          description: "Taxa Dif. Acesso"
          example: "option"

        A1_INCLTMG:
          type: string
          length: 1
          options: "1=Sim;2=Não"
          description: "Incentivo Prod.Leite MG"
          example: "option"

        A1_RIMAMT:
          type: string
          length: 1
          options: "1=Sim;2=Não"
          description: "Recolhe IMA-MT"
          example: "option"

        A1_RFASEMT:
          type: string
          length: 1
          options: "1=Sim;2=Não"
          description: "Recolhe FASE-MT"
          example: "option"

        A1_RECFMD:
          type: string
          length: 1
          options: "1=Sim;2=Não"
          description: "Recolhe FAMAD"
          example: "option"

        A1_OUTRMUN:
          type: string
          length: 10
          description: "Cod. Outros Municipios"

        A1_TIMEKEE:
          type: string
          length: 8
          description: "Advogado apontador Horas"

        A1_INOVAUT:
          type: string
          length: 1
          options: "1=Sim;2=Não"
          description: "Inovar Auto"
          example: "option"

        A1_RESFAT:
          type: string
          length: 1
          options: "1=Nota Normal;2=Nota Debito"
          description: "Forma Faturamento Viagem"
          example: "option"

        A1_NVESTN:
          type: number
          length: 2
          description: "Nvl de Acesso a Estr. Neg"
          example: "99"

        A1_TPCAMP:
          type: string
          length: 1
          description: "Tipo de Campanha"

        A1_IDESTN:
          type: string
          length: 30
          description: "Id. de Acesso Estr. Neg."

        A1_IMGUMOV:
          type: string
          length: 100
          description: "Ver imagem uMov.me"

        A1_TPJ:
          type: string
          length: 1
          options: "1=ME - Micro Empresa;2=EPP - Empresas de Pequeno Porte;3=MEI - Microempreendedor Individual;4=Não Optante"
          description: "Tipo de Pessoa Jurídica"
          example: "option"

        A1_FILTRF:
          type: string
          length: 4
          description: "Filial para transferência"

        A1_CONTRIB:
          type: string
          length: 1
          options: "1=Sim;2=Não"
          description: "Contribuinte do ICMS"
          example: "option"
      required:
        [
          "A1_FILIAL",
          "A1_COD",
          "A1_LOJA",
          "A1_NOME",
          "A1_END",
          "A1_NREDUZ",
          "A1_TIPO",
          "A1_EST",
          "A1_MUN"
        ]

    GrupoDeProdutos:
      type: object
      properties:
        BM_FILIAL:
          type: string
          length: 4
          description: "Filial"

        BM_GRUPO:
          type: string
          length: 4
          description: "Codigo do Grupo"

        BM_DESC:
          type: string
          length: 30
          description: "Descricao do Grupo"

        BM_PICPAD:
          type: string
          length: 30
          description: "Picture Padrao do Campo"

        BM_PROORI:
          type: string
          length: 1
          options: "1=Original;0=Nao Original"
          description: "Procedencia do Produto"
          example: "option"

[...]
